*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
}

.wrapper_outer {
  height: 100vh;
  overflow: hidden;
}

.wrapper {
    height: 100%;
    overflow-x: hidden;
    perspective: 1px;
}

.paralax_section {
    min-height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}

.paralax_bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    min-height: 100%;
    transform:translate3d(0,0,-1px) scale(2);
}

.paralax_section h2 {
    color: #fff;
    margin: 0;
    font-size: 120px;
    text-shadow: 2px 2px 2px rgba(0,0,00.4);
    text-align: center;
    text-transform: uppercase;
}